<template>
    <form v-if="editMode" @submit.prevent="change">
        <div class="form-group-stack">
            <input
                type="number"
                v-model="hours"
                min="0"
                max="23"
                required
                @keydown.esc="editMode = false"
            />

            <input
                type="number"
                v-model="minutes"
                min="0"
                max="59"
                required
                @keydown.esc="editMode = false"
            />

            <input
                type="number"
                v-model="seconds"
                min="0"
                max="59"
                required
                v-autofocus
                @keydown.esc="editMode = false"
            />

            <button type="submit" class="button-small">
                {{ $t('chronicles.editableTime.submit') }}
            </button>
        </div>

        <p v-if="timeError" class="form-group-error">
            {{ timeError }}
        </p>
    </form>
    <a v-else href="#" @click.prevent="editMode = true">
        <i class="fa fa-fw fa-pencil"></i>
        <span class="time-label">{{ timeLabel }}</span>
    </a>
</template>

<script>
    export default {
        props: {
            time: {
                type: Date,
                required: true,
            },

            minTime: {
                type: Date,
            },

            maxTime: {
                type: Date,
            },
        },

        data () {
            return {
                editMode: false,
                timeError: '',
                hours: this.time.getHours(),
                minutes: this.time.getMinutes(),
                seconds: this.time.getSeconds(),
            };
        },

        computed: {
            timeLabel () {
                return this.time.toLocaleString(undefined, {
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                });
            },

            minTimeLabel () {
                return this.minTime && this.minTime.toLocaleString(undefined, {
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                });
            },

            maxTimeLabel () {
                return this.maxTime && this.maxTime.toLocaleString(undefined, {
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                });
            },
        },

        methods: {
            change () {
                const newTime = new Date(this.time.getTime());
                newTime.setHours(this.hours);
                newTime.setMinutes(this.minutes);
                newTime.setSeconds(this.seconds);

                if (!this.isGreatEnough(newTime)) {
                    this.timeError = this.$t('chronicles.editableTime.mustBeGreater', {
                        minTime: this.minTimeLabel
                    });
                    return;
                }

                if (!this.isLowEnough(newTime)) {
                    this.timeError = this.$t('chronicles.editableTime.mustBeLower', {
                        maxTime: this.maxTimeLabel
                    });
                    return;
                }

                if (newTime.getTime() !== this.time.getTime()) {
                    this.$emit('change', newTime);
                }

                this.editMode = false;
                this.timeError = '';
            },

            isGreatEnough (time) {
                if (!this.minTime) {
                    return true;
                }

                const timeWithoutMilli = new Date(time.getTime());
                timeWithoutMilli.setMilliseconds(0);
                const minTimeWithoutMilli = new Date(this.minTime.getTime());
                minTimeWithoutMilli.setMilliseconds(0);

                return timeWithoutMilli >= minTimeWithoutMilli;
            },

            isLowEnough (time) {
                if (!this.maxTime) {
                    return true;
                }

                const timeWithoutMilli = new Date(time.getTime());
                timeWithoutMilli.setMilliseconds(0);
                const maxTimeWithoutMilli = new Date(this.maxTime.getTime());
                maxTimeWithoutMilli.setMilliseconds(0);

                return timeWithoutMilli <= maxTimeWithoutMilli;
            },
        },
    };
</script>

<style scoped>
    .form-group-stack {
        justify-content: flex-end;
    }

    input[type="number"] {
        width: 3rem;
        height: auto;
        padding: .25rem;
    }

    a {
        text-decoration: none;
    }

    a .fa {
        visibility: hidden;
    }

    a:hover .fa,
    a:focus .fa {
        visibility: visible;
    }

    .form-group-error {
        max-width: 15rem;

        font-size: .9rem;
        text-align: right;
    }
</style>
