<template>
    <div :class="['chronicle-chart-group', 'zoom-' + zoom, { 'cursor-fixed': this.fixedCursorAt }]">
        <div class="chronicle-chart-group-name">
            {{ group.name }}
        </div>

        <div class="chronicle-chart-group-container continuous">
            <div class="chronicle-chart-group-labels">
                <div
                    v-for="observable in continuousObservables"
                    :class="['chronicle-chart-group-label', { active: isObservableActive(observable.id) }]"
                >
                    {{ observable.name }}
                </div>
            </div>

            <div class="chronicle-chart-group-graph-container" @scroll.passive="scroll">
                <div class="chronicle-chart-group-graph">
                    <div
                        v-if="movableCursorAt"
                        class="chronicle-chart-group-cursor movable"
                        :style="{
                            left: movableCursorLeft,
                        }"
                    >
                    </div>

                    <div
                        v-for="line in lines"
                        :class="['chronicle-chart-group-line', line.type, line.color]"
                        :style="{
                            top: line.top,
                            left: line.left,
                            width: line.width,
                            height: line.height,
                        }"
                    >
                    </div>

                    <div
                        v-if="fixedCursorAt"
                        class="chronicle-chart-group-cursor fixed"
                        :style="{
                            left: fixedCursorLeft,
                        }"
                    >
                    </div>
                </div>

                <a
                    href="#"
                    class="chronicle-chart-group-cursors-handler"
                    :style="{
                        width: zoomRatio * 100 + '%',
                    }"
                    @mousemove.passive="moveCursor"
                    @click.prevent="fixCursor"
                ></a>
            </div>
        </div>

        <div class="chronicle-chart-group-container intermittent">
            <div class="chronicle-chart-group-labels">
                <div
                    v-for="observable in intermittentObservables"
                    :class="['chronicle-chart-group-label', { active: isObservableActive(observable.id) }]"
                >
                    {{ observable.name }}
                </div>
            </div>

            <div class="chronicle-chart-group-graph-container" @scroll.passive="scroll">
                <div class="chronicle-chart-group-graph">
                    <div
                        v-if="movableCursorAt"
                        class="chronicle-chart-group-cursor movable"
                        :style="{
                            left: movableCursorLeft,
                        }"
                    >
                    </div>

                    <div
                        v-for="dot in dots"
                        :class="['chronicle-chart-group-dot', dot.color]"
                        :style="{
                            top: dot.top,
                            left: dot.left,
                        }"
                    >
                    </div>

                    <div
                        v-if="fixedCursorAt"
                        class="chronicle-chart-group-cursor fixed"
                        :style="{
                            left: fixedCursorLeft,
                        }"
                    >
                    </div>
                </div>

                <a
                    href="#"
                    class="chronicle-chart-group-cursors-handler"
                    :style="{
                        width: zoomRatio * 100 + '%',
                    }"
                    @mousemove.passive="moveCursor"
                    @click.prevent="fixCursor"
                ></a>
            </div>
        </div>

        <div class="chronicle-chart-group-container time-axis">
            <div class="chronicle-chart-group-graph-container" @scroll.passive="scroll">
                <div class="chronicle-chart-group-graph">
                    <div
                        v-for="unit in timeUnits"
                        class="chronicle-chart-group-unit"
                        :style="{
                            left: unit.left,
                        }"
                    >
                        {{ unit.label }}
                    </div>
                </div>

                <a
                    href="#"
                    class="chronicle-chart-group-cursors-handler"
                    :style="{
                        width: zoomRatio * 100 + '%',
                    }"
                    @mousemove.passive="moveCursor"
                    @click.prevent="fixCursor"
                ></a>
            </div>
        </div>
    </div>
</template>

<script>
    const OBSERVABLES_HEIGHT = 2;

    export default {
        props: {
            group: {
                type: Object,
                required: true,
            },

            zoom: {
                type: Number,
                default: 1,
            },

            movableCursorAt: {
                type: Number,
            },

            fixedCursorAt: {
                type: Number,
            },
        },

        computed: {
            observables () {
                return this.$store.getters['observables/listByGroupId'](this.group.id);
            },

            continuousObservables () {
                return this.observables.filter((observable) => !observable.intermittent);
            },

            continuousObservableIds () {
                return this.continuousObservables.map((observable) => observable.id);
            },

            continuousDatas () {
                return this.observationDatas.filter((data) => (
                    this.continuousObservableIds.includes(data.observableId)
                ));
            },

            intermittentObservables () {
                return this.observables.filter((observable) => observable.intermittent);
            },

            intermittentObservableIds () {
                return this.intermittentObservables.map((observable) => observable.id);
            },

            intermittentDatas () {
                return this.observationDatas.filter((data) => (
                    this.intermittentObservableIds.includes(data.observableId))
                );
            },

            observation () {
                return this.$store.getters['observations/getByChronicleId'](this.group.chronicleId);
            },

            observationDatas () {
                const datas = [ ...this.observation.data ];
                datas.sort((data1, data2) => {
                    return data1.at - data2.at;
                });
                return datas;
            },

            startAt () {
                return this.observation.startAt;
            },

            endAt () {
                return this.observation.endAt ? this.observation.endAt : new Date();
            },

            pausesDuration () {
                return this.observation.pauses.reduce(
                    (duration, pause) => duration + pause.duration,
                    0
                );
            },

            totalDuration () {
                return this.endAt - this.pausesDuration - this.startAt;
            },

            zoomRatio () {
                const ratio = this.zoom > 1 ? 2.5 : 1;
                return this.zoom * ratio;
            },

            activeObservableIds () {
                let actives = [];

                let previousData = null;
                this.continuousDatas.forEach((data) => {
                    if (previousData) {
                        const duration = data.at - previousData.at;
                        if (
                            previousData.at < this.fixedCursorAt &&
                            previousData.at + duration >= this.fixedCursorAt
                        ) {
                            actives.push(previousData.observableId);
                        }
                    }

                    previousData = data;
                });

                if (previousData) {
                    const duration = this.totalDuration - previousData.at;
                    if (
                        previousData.at < this.fixedCursorAt &&
                        previousData.at + duration >= this.fixedCursorAt
                    ) {
                        actives.push(previousData.observableId);
                    }
                }

                this.intermittentDatas.forEach((data) => {
                    if (data.at === this.fixedCursorAt) {
                        actives.push(data.observableId);
                    }
                });

                return actives;
            },

            lines () {
                const lines = [];
                let previousData = null;
                this.continuousDatas.forEach((data) => {
                    if (previousData) {
                        lines.push(this.horizontalLineFromDatas(previousData, data));
                        lines.push(this.verticalLineFromDatas(previousData, data));
                    }

                    previousData = data;
                });

                if (previousData) {
                    lines.push(this.horizontalLineFromDatas(previousData, null));
                }

                return lines;
            },

            dots () {
                return this.intermittentDatas.map(this.dotFromData);
            },

            timeUnits () {
                const interval = this.totalDuration / this.numberOfTimeUnits;

                return [...Array(this.numberOfTimeUnits).keys()].map((index) => {
                    const at = Math.round(interval * index);
                    const label = this.millisecondsToUnit(at);
                    return {
                        label,
                        left: this.millisecondsToPercent(at),
                    };
                });
            },

            numberOfTimeUnits () {
                const baseNumber = 5;
                const minInterval = 1;

                const numberByRatio = Math.round(baseNumber * this.zoomRatio);
                const numberForMinInterval = Math.round(
                    this.totalDuration / (minInterval * 1000)
                );
                if (numberByRatio <= numberForMinInterval) {
                    return numberByRatio;
                } else {
                    return numberForMinInterval;
                }
            },

            movableCursorLeft () {
                return this.millisecondsToPercent(this.movableCursorAt);
            },

            fixedCursorLeft () {
                return this.millisecondsToPercent(this.fixedCursorAt);
            },
        },

        methods: {
            scroll (e) {
                const graphs = document.querySelectorAll('.chronicle-chart-group-graph-container');
                const leftScroll = e.target.scrollLeft;
                graphs.forEach((g) => {
                    g.scrollLeft = leftScroll;
                });
            },

            moveCursor (e) {
                const graphElement = e.target.parentElement;
                const left = e.layerX * 100 / graphElement.scrollWidth;
                const at = (left * this.totalDuration) / 100;
                this.$emit('moveCursor', at);
            },

            fixCursor (e) {
                const graphElement = e.target.parentElement;
                const left = e.layerX * 100 / graphElement.scrollWidth;
                const at = (left * this.totalDuration) / 100;
                if (this.fixedCursorAt === at) {
                    this.$emit('fixCursor', null);
                } else {
                    this.$emit('fixCursor', at);
                }
            },

            isObservableActive (observableId) {
                return this.activeObservableIds.includes(observableId);
            },

            horizontalLineFromDatas (previousData, data = null) {
                const endAt = data ? data.at : this.totalDuration;
                const duration = endAt - previousData.at;
                const indexPrevious = this.continuousObservableIds.indexOf(previousData.observableId);

                let color = 'purple';
                if (
                    this.fixedCursorAt &&
                    previousData.at < this.fixedCursorAt &&
                    previousData.at + duration >= this.fixedCursorAt
                ) {
                    color = 'green';
                }

                return {
                    type: 'horizontal',
                    top: (indexPrevious * OBSERVABLES_HEIGHT + 0.45) + 'rem',
                    left: this.millisecondsToPercent(previousData.at),
                    width: this.millisecondsToPercent(duration),
                    height: '1px',
                    color,
                };
            },

            verticalLineFromDatas (previousData, data) {
                const duration = data.at - previousData.at;
                const indexPrevious = this.continuousObservableIds.indexOf(previousData.observableId);
                const indexObservable = this.continuousObservableIds.indexOf(data.observableId);

                return {
                    type: 'vertical',
                    top: (Math.min(indexPrevious, indexObservable) * OBSERVABLES_HEIGHT + 0.45) + 'rem',
                    left: this.millisecondsToPercent(data.at),
                    width: '1px',
                    height: (Math.abs(indexObservable - indexPrevious) * OBSERVABLES_HEIGHT) + 0.10 + 'rem',
                    color: 'purple',
                };
            },

            dotFromData (data) {
                const indexObservable = this.intermittentObservableIds.indexOf(data.observableId);

                let color = 'purple';
                if (
                    this.fixedCursorAt &&
                    data.at === this.fixedCursorAt // todo consider an interval
                ) {
                    color = 'green';
                }

                return {
                    top: (indexObservable * OBSERVABLES_HEIGHT + 0.30) + 'rem',
                    left: this.millisecondsToPercent(data.at),
                    color,
                };
            },

            millisecondsToPercent (milliseconds) {
                return (milliseconds * 100 * this.zoomRatio / this.totalDuration) + '%';
            },

            millisecondsToUnit (milliseconds) {
                const hours = Math.floor((milliseconds / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((milliseconds / (1000 * 60)) % 60);
                const seconds = Math.floor((milliseconds / 1000) % 60);
                if (hours > 0) {
                    return hours + 'h' + minutes + 'm';
                } else if (minutes > 0) {
                    return minutes + 'm' + seconds + 's';
                } else {
                    return seconds + 's';
                }
            },
        },
    };
</script>

<style>
    .chronicle-chart-group {
        --observables-height: 2rem;

        margin-bottom: 1rem;
        margin-left: -2rem;
        margin-right: -2rem;

        background-color: var(--color-white-stained);
        box-shadow: 0 0 2px var(--color-purple-50);
    }

    .chronicle-chart-group-name {
        width: 7rem;
        margin-bottom: .25rem;
        padding: .5rem .25rem;

        text-align: right;
        font-weight: bold;
        font-size: .9rem;
        line-height: .9rem;
    }

    .chronicle-chart-group-container {
        position: relative;
        padding-right: 1rem;

        display: flex;
    }

    .chronicle-chart-group-labels {
        width: 7rem;

        flex-shrink: 0;

        font-size: .8rem;
        line-height: .8rem;
    }

    .chronicle-chart-group-label {
        overflow: hidden;

        height: var(--observables-height);
        padding-left: .25rem;
        padding-right: .25rem;

        text-align: right;
    }

    .chronicle-chart-group-label.active {
        color: var(--color-green-70);
        font-weight: bold;
    }

    .cursor-fixed .chronicle-chart-group-label:not(.active) {
        opacity: .5;
    }

    .chronicle-chart-group-graph-container {
        position: relative;

        width: 100%;

        overflow-x: auto;
    }

    .chronicle-chart-group-container.time-axis .chronicle-chart-group-graph-container {
        height: 2rem;
        margin-left: 7rem;
    }

    .chronicle-chart-group-container.continuous .chronicle-chart-group-graph-container,
    .chronicle-chart-group-container.intermittent .chronicle-chart-group-graph-container {
        scrollbar-width: none;
    }
    .chronicle-chart-group-container.continuous .chronicle-chart-group-graph-container::-webkit-scrollbar,
    .chronicle-chart-group-container.intermittent .chronicle-chart-group-graph-container::-webkit-scrollbar {
        display: none;
    }


    .chronicle-chart-group-line {
        position: absolute;
    }

    .chronicle-chart-group-line.purple {
        --color-line: var(--color-purple-90);
    }
    .chronicle-chart-group-line.green {
        --color-line: var(--color-green-50);
    }

    .chronicle-chart-group-line.horizontal {
        border-top: 2px solid var(--color-line);
        border-bottom: 2px solid var(--color-line);
    }

    .chronicle-chart-group-line:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .chronicle-chart-group-line:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .chronicle-chart-group-line.vertical {
        border-left: 1px dotted var(--color-purple-70);
    }

    .chronicle-chart-group-dot {
        position: absolute;

        width: 1px;
        margin-top: -.12rem;
        margin-left: -.12rem;

        border: .25rem solid var(--color-dot);
        border-radius: .5rem;
    }

    .chronicle-chart-group-dot.purple {
        --color-dot: var(--color-purple-90);
    }
    .chronicle-chart-group-dot.green {
        --color-dot: var(--color-green-50);
    }

    .chronicle-chart-group-unit {
        position: absolute;

        color: var(--color-grey-40);
        font-size: .7rem;

        transition: color .2s ease-in-out;
    }

    .chronicle-chart-group:hover .chronicle-chart-group-unit {
        color: var(--color-grey-60);
    }

    .chronicle-chart-group-cursor {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 1px;

        border-left: 1px solid var(--color-red-50);
    }

    .chronicle-chart-group-cursor.movable {
        opacity: .3;
    }

    .chronicle-chart-group-cursors-handler {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        outline: 0;
    }
</style>
