<template>
    <svg
        version="1.1"
        baseProfile="full"
        xmlns="http://www.w3.org/2000/svg"
        :width="width"
        :height="height"
    >
        <rect width="100%" height="100%" fill="white"/>

        <chronicle-chart-svg-group
            v-for="(group, index) in groups"
            :group="group"
            :y="group.yPosition"
        ></chronicle-chart-svg-group>
    </svg>
</template>

<script>
    import ChronicleChartSvgGroup from './ChronicleChartSvgGroup.vue';

    export default {
        props: {
            chronicle: {
                type: Object,
                required: true,
            },
        },

        components: {
            ChronicleChartSvgGroup,
        },

        computed: {
            groups () {
                let numberObservablesBefore = 0;
                return this.$store.getters['groups/listNotEmptyByChronicleId'](this.chronicle.id).map((group, index) => {
                    const presentedGroup = {
                        ...group,
                        yPosition: numberObservablesBefore * 50 + index * 50,
                    };
                    numberObservablesBefore += this.$store.getters['observables/countByGroupId'](group.id);
                    return presentedGroup;
                });
            },

            observation () {
                return this.$store.getters['observations/getByChronicleId'](this.chronicle.id);
            },

            observables () {
                return this.groups.reduce((observables, group) => {
                    return observables.concat(
                        this.$store.getters['observables/listByGroupId'](group.id)
                    );
                }, []);
            },

            startAt () {
                return this.observation.startAt;
            },

            endAt () {
                return this.observation.endAt ? this.observation.endAt : new Date();
            },

            pausesDuration () {
                return this.observation.pauses.reduce(
                    (duration, pause) => duration + pause.duration,
                    0
                );
            },

            totalDuration () {
                return this.endAt - this.pausesDuration - this.startAt;
            },

            width () {
                return (this.totalDuration / 2000) + 225;
            },

            height () {
                return this.observables.length * 50 + this.groups.length * 50 + 50;
            },
        },
    };
</script>
