<template>
    <tbody>
        <tr>
            <td class="statistics-group-name" colspan="4">
                {{ group.name }}
            </td>
        </tr>

        <tr
            v-for="stat in statistics"
            :class="['statistic-row', { empty: stat.occurrencesCount === 0 }]"
        >
            <td class="statistic-observable-name">
                {{ stat.observableName }}
                <span v-if="stat.intermittent" class="data-intermittent">
                    <i class="fa fa-fw fa-flash"></i>
                </span>
            </td>

            <td class="statistic-occurrences number">
                {{ stat.occurrencesCount }}
            </td>

            <td v-if="!stat.intermittent" class="statistic-time number">
                {{ stat.timeLabel }}
            </td>
            <td v-else>
            </td>

            <td v-if="!stat.intermittent" class="statistic-percent number">
                {{ stat.percent }} %
            </td>
            <td v-else>
            </td>
        </tr>
    </tbody>
</template>

<script>
    export default {
        props: {
            group: {
                type: Object,
                required: true,
            },
        },

        computed: {
            observables () {
                const observables = this.$store.getters['observables/listByGroupId'](this.group.id);
                observables.sort((o1, o2) => {
                    if (o1.intermittent === o2.intermittent) {
                        return 0;
                    } else if (o1.intermittent) {
                        return 1;
                    } else {
                        return -1;
                    }
                });
                return observables;
            },

            continuousObservables () {
                return this.observables.filter((observable) => !observable.intermittent);
            },

            continuousObservableIds () {
                return this.continuousObservables.map((observable) => observable.id);
            },

            continuousDatas () {
                return this.observationDatas.filter((data) => (
                    this.continuousObservableIds.includes(data.observableId)
                ));
            },

            intermittentObservables () {
                return this.observables.filter((observable) => observable.intermittent);
            },

            intermittentObservableIds () {
                return this.intermittentObservables.map((observable) => observable.id);
            },

            intermittentDatas () {
                return this.observationDatas.filter((data) => (
                    this.intermittentObservableIds.includes(data.observableId))
                );
            },

            observation () {
                return this.$store.getters['observations/getByChronicleId'](this.group.chronicleId);
            },

            observationDatas () {
                const datas = [ ...this.observation.data ];
                datas.sort((data1, data2) => {
                    return data1.at - data2.at;
                });
                return datas;
            },

            startAt () {
                return this.observation.startAt;
            },

            endAt () {
                return this.observation.endAt ? this.observation.endAt : new Date();
            },

            pausesDuration () {
                return this.observation.pauses.reduce(
                    (duration, pause) => duration + pause.duration,
                    0
                );
            },

            totalDuration () {
                return this.endAt - this.pausesDuration - this.startAt;
            },

            datasByObservableIds () {
                const datas = {};
                let previousData = null;
                this.continuousDatas.forEach((data) => {
                    if (previousData) {
                        datas[previousData.observableId] = [
                            ...(datas[previousData.observableId] || []),
                            {
                                ...previousData,
                                duration: data.at - previousData.at,
                            },
                        ];
                    }

                    previousData = data;
                });

                if (previousData) {
                    datas[previousData.observableId] = [
                        ...(datas[previousData.observableId] || []),
                        {
                            ...previousData,
                            duration: this.totalDuration - previousData.at,
                        },
                    ];
                }

                this.intermittentDatas.forEach((data) => {
                    datas[data.observableId] = [
                        ...(datas[data.observableId] || []),
                        data,
                    ];
                });

                return datas;
            },

            statistics () {
                return this.observables.map((observable) => {
                    const datas = this.datasByObservableIds[observable.id] || [];
                    if (observable.intermittent) {
                        return {
                            observableName: observable.name,
                            intermittent: true,
                            occurrencesCount: datas.length,
                        };
                    } else {
                        const time = datas.reduce((totalDuration, data) => {
                            return totalDuration + data.duration;
                        }, 0);
                        return {
                            observableName: observable.name,
                            intermittent: false,
                            occurrencesCount: datas.length,
                            timeLabel: this.millisecondsToUnit(time),
                            percent: (time * 100 / this.totalDuration).toFixed(2),
                        };
                    }
                });
            },
        },

        methods: {
            millisecondsToUnit (milliseconds) {
                const hours = Math.floor((milliseconds / (1000 * 60 * 60)) % 24);
                let minutes = Math.floor((milliseconds / (1000 * 60)) % 60);
                let seconds = Math.floor((milliseconds / 1000) % 60);
                if (hours > 0) {
                    minutes = minutes < 10 ? '0' + minutes : minutes;
                    seconds = seconds < 10 ? '0' + seconds : seconds;
                    return hours + 'h ' + minutes + 'm ' + seconds + 's';
                } else if (minutes > 0) {
                    seconds = seconds < 10 ? '0' + seconds : seconds;
                    return minutes + 'm ' + seconds + 's';
                } else {
                    return seconds + 's';
                }
            },
        },
    };
</script>

<style scoped>
    td.statistics-group-name {
        font-weight: bold;
    }

    tbody + tbody td.statistics-group-name {
        border-top: 2px solid var(--color-grey-90);
    }

    td.statistic-observable-name {
        padding-left: 1.5rem;
    }

    td.number {
        font-family: monospace;
        text-align: right;
    }

    .statistic-row.empty td.number {
        color: var(--color-grey-40);
    }
</style>
