<template>
    <svg>
        <text x="5" y="15" font-size="16" fill="black">
            {{ group.name }}
        </text>

        <g transform="translate(0, 50)">
            <text
                v-for="(observable, index) in observables"
                x="5"
                :y="50 * index"
                font-size="16"
                fill="black"
            >
                {{ observable.name }}
            </text>
        </g>

        <g transform="translate(225, 45)">
            <line
                v-for="line in lines"
                :x1="line.x1"
                :x2="line.x2"
                :y1="line.y1"
                :y2="line.y2"
                :stroke-width="line.type === 'vertical' ? 1 : 3"
                :stroke-dasharray="line.type === 'vertical' ? 4 : 0"
                stroke="#7558a0"
            />

            <circle
                v-for="dot in dots"
                :cx="dot.x"
                :cy="dot.y"
                r="3"
                fill="#7558a0"
            />

            <text
                v-for="unit in timeUnits"
                :x="unit.x"
                :y="50 * observables.length - 10"
                font-size="14"
                fill="#666666"
            >
                {{ unit.label }}
            </text>
        </g>
    </svg>
</template>

<script>
    const OBSERVABLES_HEIGHT = 50;

    export default {
        props: {
            group: {
                type: Object,
                required: true,
            },
        },

        computed: {
            observables () {
                const observables = this.$store.getters['observables/listByGroupId'](this.group.id);
                observables.sort((o1, o2) => {
                    if (o1.intermittent === o2.intermittent) {
                        return 0;
                    } else if (o1.intermittent) {
                        return 1;
                    } else {
                        return -1;
                    }
                });
                return observables;
            },

            observableIds () {
                return this.observables.map((observable) => observable.id);
            },

            continuousObservables () {
                return this.observables.filter((observable) => !observable.intermittent);
            },

            continuousObservableIds () {
                return this.continuousObservables.map((observable) => observable.id);
            },

            continuousDatas () {
                return this.observationDatas.filter((data) => (
                    this.continuousObservableIds.includes(data.observableId)
                ));
            },

            intermittentObservables () {
                return this.observables.filter((observable) => observable.intermittent);
            },

            intermittentObservableIds () {
                return this.intermittentObservables.map((observable) => observable.id);
            },

            intermittentDatas () {
                return this.observationDatas.filter((data) => (
                    this.intermittentObservableIds.includes(data.observableId))
                );
            },

            observation () {
                return this.$store.getters['observations/getByChronicleId'](this.group.chronicleId);
            },

            observationDatas () {
                const datas = [ ...this.observation.data ];
                datas.sort((data1, data2) => {
                    return data1.at - data2.at;
                });
                return datas;
            },

            startAt () {
                return this.observation.startAt;
            },

            endAt () {
                return this.observation.endAt ? this.observation.endAt : new Date();
            },

            pausesDuration () {
                return this.observation.pauses.reduce(
                    (duration, pause) => duration + pause.duration,
                    0
                );
            },

            totalDuration () {
                return this.endAt - this.pausesDuration - this.startAt;
            },

            lines () {
                const lines = [];
                let previousData = null;
                this.continuousDatas.forEach((data) => {
                    if (previousData) {
                        lines.push(this.horizontalLineFromDatas(previousData, data));
                        lines.push(this.verticalLineFromDatas(previousData, data));
                    }

                    previousData = data;
                });

                if (previousData) {
                    lines.push(this.horizontalLineFromDatas(previousData, null));
                }

                return lines;
            },

            dots () {
                return this.intermittentDatas.map(this.dotFromData);
            },

            timeUnits () {
                const interval = 10 * 60 * 1000;
                const numberOfTimeUnits = Math.round(this.totalDuration / interval);

                return [...Array(numberOfTimeUnits).keys()].map((index) => {
                    const at = Math.round(interval * index);
                    return {
                        x: this.millisecondsToPosition(at),
                        label: this.millisecondsToUnit(at),
                    };
                });
            },
        },

        methods: {
            horizontalLineFromDatas (previousData, data = null) {
                const endAt = data ? data.at : this.totalDuration;
                const duration = endAt - previousData.at;
                const indexPrevious = this.continuousObservableIds.indexOf(previousData.observableId);

                const x1 = this.millisecondsToPosition(previousData.at);
                const x2 = x1 + this.millisecondsToPosition(duration);
                const y = indexPrevious * OBSERVABLES_HEIGHT;

                return {
                    type: 'horizontal',
                    x1,
                    x2,
                    y1: y,
                    y2: y,
                };
            },

            verticalLineFromDatas (previousData, data) {
                const duration = data.at - previousData.at;
                const indexPrevious = this.continuousObservableIds.indexOf(previousData.observableId);
                const indexObservable = this.continuousObservableIds.indexOf(data.observableId);

                const x = this.millisecondsToPosition(data.at);
                const y1 = Math.min(indexPrevious, indexObservable) * OBSERVABLES_HEIGHT;
                const y2 = y1 + Math.abs(indexObservable - indexPrevious) * OBSERVABLES_HEIGHT;

                return {
                    type: 'vertical',
                    x1: x,
                    x2: x,
                    y1,
                    y2,
                };
            },

            dotFromData (data) {
                const indexObservable = this.observableIds.indexOf(data.observableId);

                return {
                    x: this.millisecondsToPosition(data.at),
                    y: indexObservable * OBSERVABLES_HEIGHT,
                };
            },

            millisecondsToPosition (milliseconds) {
                return Math.round(milliseconds / 2000);
            },

            millisecondsToUnit (milliseconds) {
                const hours = Math.floor((milliseconds / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((milliseconds / (1000 * 60)) % 60);
                const seconds = Math.floor((milliseconds / 1000) % 60);
                if (hours > 0) {
                    return hours + 'h' + minutes + 'm';
                } else if (minutes > 0) {
                    return minutes + 'm';
                } else {
                    return seconds + 's';
                }
            },
        },
    };
</script>
