<template>
    <div class="chronicle-chart">
        <div class="chronicle-chart-actions-container">
            <div class="form-group-stack">
                <button
                    type="button"
                    :class="['button-ghost', { disabled: dezoomDisabled }]"
                    @click="dezoom"
                    :disabled="dezoomDisabled"
                >
                    <i class="fa fa-fw fa-search-minus"></i>
                    {{ $t('chronicles.dataPage.dezoom') }}
                </button>

                <button
                    type="button"
                    :class="['button-ghost', { disabled: zoomDisabled }]"
                    @click="zoom"
                    :disabled="zoomDisabled"
                >
                    <i class="fa fa-fw fa-search-plus"></i>
                    {{ $t('chronicles.dataPage.zoom') }}
                </button>
            </div>

            <button
                v-if="isLarge"
                type="button"
                @click="$emit('enlarge', false)"
            >
                <i class="fa fa-fw fa-compress"></i>
                {{ $t('chronicles.dataPage.compress') }}
            </button>

            <button
                v-else
                type="button"
                @click="$emit('enlarge', true)"
            >
                <i class="fa fa-fw fa-expand"></i>
                {{ $t('chronicles.dataPage.enlarge') }}
            </button>
        </div>

        <chronicle-chart-group
            v-for="group in groups"
            :group="group"
            :zoom="zoom_value"
            :movableCursorAt="movableCursorAt"
            :fixedCursorAt="fixedCursorAt"
            @moveCursor="moveCursor"
            @fixCursor="fixCursor"
        ></chronicle-chart-group>
    </div>
</template>

<script>
    import ChronicleChartGroup from 'components/data/ChronicleChartGroup.vue';

    const MIN_ZOOM = 1;
    const MAX_ZOOM = 6;

    export default {
        props: {
            chronicleId: {
                type: String,
                required: true,
            },

            isLarge: {
                type: Boolean,
                default: false,
            }
        },

        components: {
            ChronicleChartGroup,
        },

        data () {
            return {
                zoom_value: 1,
                movableCursorAt: null,
                fixedCursorAt: null,
            };
        },

        computed: {
            groups () {
                return this.$store.getters['groups/listNotEmptyByChronicleId'](this.chronicleId);
            },

            zoomDisabled () {
                return this.zoom_value >= MAX_ZOOM;
            },

            dezoomDisabled () {
                return this.zoom_value <= MIN_ZOOM;
            },
        },

        methods: {
            zoom () {
                this.zoom_value = Math.min(MAX_ZOOM, this.zoom_value + 1);
            },

            dezoom () {
                this.zoom_value = Math.max(MIN_ZOOM, this.zoom_value - 1);
            },

            moveCursor (at) {
                this.movableCursorAt = at;
            },

            fixCursor (at) {
                this.fixedCursorAt = at;
            },
        },
    };
</script>

<style>
    .chronicle-chart-actions-container {
        display: flex;
        margin-bottom: 1.5rem;
        margin-right: -1rem;

        justify-content: space-between;
    }

    .chronicle-chart-actions-container .form-group-stack button {
        margin-left: 0;
        margin-right: 0;
    }
    .chronicle-chart-actions-container .form-group-stack button:first-child {
        border-radius: .5rem 0 0 .5rem;
    }
    .chronicle-chart-actions-container .form-group-stack button:last-child {
        border-radius: 0 .5rem .5rem 0;
    }

    @media(max-width: 45rem) {
        .chronicle-chart-actions-container {
            display: none;
        }
    }

</style>
