<template>
    <the-layout name="chronicles">
        <h1>
            {{ $t('chronicles.page.title') }}
        </h1>

        <ul>
            <li>
                <router-link to="/chronicles/new">
                    <span>
                        <i class="fa fa-fw fa-plus"></i>
                        {{ $t('chronicles.page.newChronicle') }}
                    </span>
                </router-link>
            </li>

            <li v-for="chronicle in chronicles">
                <router-link :to="`/chronicles/${chronicle.id}`">
                    {{ chronicle.title }}
                </router-link>
            </li>
        </ul>
    </the-layout>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                chronicles: 'chronicles/list',
            }),
        },

        created () {
            const noChronicles = this.chronicles.length === 0;
            if (noChronicles) {
                this.$router.push('/chronicles/new');
            }
        },
    };
</script>

<style>
    .page-chronicles ul {
        display: flex;
        padding-left: 0;

        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

        list-style: none;
    }

    .page-chronicles ul li {
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    .page-chronicles ul li > * {
        display: flex;
        height: 100%;
        padding: .75rem 1rem;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        border: 2px solid var(--color-purple-90);
        border-radius: .5rem;
    }

    .page-chronicles ul li:first-child > a {
        text-decoration: none;

        border-color: transparent;

        transition: all .3s ease-in-out;
    }

    .page-chronicles ul li:first-child > a:hover {
        color: var(--color-white-stained);

        background-color: var(--color-purple-90);
    }
</style>
