<template>
    <router-view v-if="chronicle" :chronicle="chronicle"></router-view>
    <not-found-page v-else></not-found-page>
</template>

<script>
    import { mapGetters } from 'vuex';

    import NotFoundPage from 'components/pages/NotFoundPage.vue';

    export default {
        components: {
            NotFoundPage,
        },

        computed: {
            chronicle () {
                const id = this.$route.params.id;
                return this.$store.getters['chronicles/findById'](id);
            },
        },
    };
</script>
