<template>
    <the-layout name="create-chronicle">
        <h1>
            {{ $t('chronicles.createPage.title') }}
        </h1>

        <form @submit.prevent="createChronicle">
            <p v-if="firstChronicle" class="lead">
                {{ $t('chronicles.createPage.firstChronicle') }}
            </p>

            <div class="form-group">
                <label for="title">
                    {{ $t('chronicles.createPage.titleLabel') }}
                </label>

                <input
                    type="text"
                    id="title"
                    v-model="title"
                    ref="title"
                    v-autofocus
                    :class="{ invalid: titleError }"
                />

                <p v-if="titleError" class="form-group-error">
                    {{ titleError }}
                </p>
            </div>

            <div class="form-group form-group-actions">
                <button type="submit" class="button-primary">
                    {{ $t('chronicles.createPage.submitCreate') }}
                </button>

                <router-link v-if="!firstChronicle" to="/chronicles">
                    {{ $t('chronicles.createPage.cancelCreate') }}
                </router-link>
            </div>
        </form>

        <form @submit.prevent="importChronicle">
            <div class="form-group">
                <label for="import">
                    {{ $t('chronicles.createPage.importLabel') }}

                    <i class="fa fa-fw fa-cloud-upload"></i>
                </label>

                <p v-if="toImport" class="chronicle-importing">
                    {{ $t(
                        'chronicles.createPage.importing',
                        { chronicle: toImport.chronicle.title }
                    ) }}
                </p>

                <input
                    v-else
                    type="file"
                    id="import"
                    @change="setFile"
                    :class="{ invalid: fileError }"
                />

                <p v-if="fileError" class="form-group-error">
                    {{ fileError }}
                </p>
            </div>

            <div v-if="toImport" class="form-group form-group-actions">
                <button type="submit" class="button-primary">
                    {{ $t('chronicles.createPage.submitImport') }}
                </button>

                <button type="button" class="button-ghost" @click="toImport = null">
                    {{ $t('chronicles.createPage.cancelImport') }}
                </button>
            </div>
        </form>
    </the-layout>
</template>

<script>
    import uuid from 'uuid/v4';

    import { mapGetters } from 'vuex';

    export default {
        data () {
            return {
                title: '',
                titleError: '',
                toImport: null,
                fileError: '',
            };
        },

        computed: {
            ...mapGetters({
                chronicles: 'chronicles/list',
            }),

            firstChronicle () {
                return this.chronicles.length === 0;
            },
        },

        methods: {
            createChronicle () {
                const title = this.title.trim();

                if (!title) {
                    this.titleError = this.$t('chronicles.createPage.titleRequired');
                    this.$refs.title.focus();
                    return;
                }

                const id = uuid();
                this.$store.commit('chronicles/add', { id, title });
                this.$store.dispatch('save');

                this.$router.push(`/chronicles/${id}`);
            },

            setFile (e) {
                this.fileError = '';

                const expectedKeys = [
                    'chronicle', 'groups', 'observables', 'observation'
                ];
                const input = e.target;
                const file = input.files[0];

                const reader = new FileReader();
                reader.onload = () => {
                    try {
                        const toImport = JSON.parse(reader.result);

                        const missingKeys = expectedKeys.filter((key) => {
                            return toImport[key] == null;
                        });

                        if (missingKeys.length > 0) {
                            this.fileError = this.$t('chronicles.createPage.fileMissingKeys');
                            return;
                        }

                        const chronicle = this.$store.getters['chronicles/findById'](toImport.chronicle.id);
                        if (chronicle) {
                            this.fileError = this.$t('chronicles.createPage.existsAlready');
                            return;
                        }

                        this.toImport = toImport;
                    } catch (SyntaxError) {
                        this.fileError = this.$t('chronicles.createPage.fileIsInvalid');
                    }
                };
                reader.readAsText(file);
            },

            importChronicle () {
                this.$store.commit('chronicles/add', this.toImport.chronicle);
                this.$store.commit('groups/addList', this.toImport.groups);
                this.$store.commit('observables/addList', this.toImport.observables);
                const observation = this.toImport.observation;
                observation.startAt = new Date(observation.startAt);
                if (observation.endAt) {
                    observation.endAt = new Date(observation.endAt);
                }
                this.$store.commit('observations/add', observation);

                this.$store.dispatch('save');

                this.$router.push(`/chronicles/${this.toImport.chronicle.id}/data`);
            },
        },
    };
</script>

<style>
    .page-create-chronicle .chronicle-importing {
        padding: .5rem;

        font-weight: bold;
    }

    .page-create-chronicle form + form {
        margin-top: 5rem;
    }
</style>
