<template>
    <the-layout name="chronicle-data" :title="chronicle.title" :full-width="enlargeYourLayout">
        <chronicle-navigation :chronicle="chronicle"></chronicle-navigation>

        <div v-if="observation">
            <p v-if="!observation.endAt" class="alert alert-warning">
                {{ $t('chronicles.dataPage.inProgress') }}

                <router-link class="call-to-action" :to="`/chronicles/${chronicle.id}/observation`">
                    {{ $t('chronicles.dataPage.backToObservation') }}
                </router-link>
            </p>

            <section class="data-section">
                <header>
                    <h2>
                        {{ $t('chronicles.dataPage.chartTitle') }}
                    </h2>

                    <div class="section-header-separator"></div>

                    <button
                        @click="showExportModal = true"
                        type="button"
                        class="button-ghost"
                    >
                        <i class="fa fa-fw fa-download"></i>
                        {{ $t('chronicles.dataPage.export') }}
                    </button>
                </header>

                <the-modal
                    v-if="showExportModal"
                    :title="$t('chronicles.dataPage.exportModal.title')"
                    @close="showExportModal = false"
                >
                    <p>
                        {{ $t('chronicles.dataPage.exportModal.intro', { title: chronicle.title }) }}
                    </p>

                    <p>
                        {{ $t('chronicles.dataPage.exportModal.svg') }}
                    </p>

                    <p>
                        <a :href="downloadSvg" :download="chronicle.title + '-chronicle.svg'" class="call-to-action">
                            <i class="fa fa-fw fa-file-image-o"></i>
                            {{ $t('chronicles.dataPage.exportModal.downloadSvg') }}
                        </a>
                    </p>

                    <p>
                        {{ $t('chronicles.dataPage.exportModal.json') }}
                    </p>

                    <p>
                        <a :href="downloadChronicleUrl" :download="chronicle.title + '-chronicle.json'" class="call-to-action">
                            <i class="fa fa-fw fa-cloud-download"></i>
                            {{ $t('chronicles.dataPage.exportModal.downloadJson') }}
                        </a>
                    </p>
                </the-modal>

                <chronicle-chart
                    :chronicleId="chronicle.id"
                    :is-large="enlargeYourLayout"
                    @enlarge="(value) => this.enlargeYourLayout = value"
                ></chronicle-chart>
            </section>

            <section class="data-section">
                <header>
                    <h2>
                        {{ $t('chronicles.dataPage.stats.title') }}
                    </h2>

                    <div class="section-header-separator"></div>

                    <button
                        v-if="unfoldStats"
                        @click="unfoldStats = false"
                        type="button"
                        class="button-ghost active"
                    >
                        {{ $t('chronicles.dataPage.fold') }}
                    </button>
                    <button
                        v-else
                        @click="unfoldStats = true"
                        type="button"
                        class="button-ghost"
                    >
                        {{ $t('chronicles.dataPage.unfold') }}
                    </button>
                </header>

                <div v-if="unfoldStats" class="stats-container">
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2"></th>

                                <th rowspan="2">
                                    {{ $t('chronicles.dataPage.stats.occurrences') }}
                                </th>

                                <th colspan="2">
                                    {{ $t('chronicles.dataPage.stats.duration') }}
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    {{ $t('chronicles.dataPage.stats.time') }}
                                </th>

                                <th>
                                    {{ $t('chronicles.dataPage.stats.percent') }}
                                </th>
                            </tr>
                        </thead>

                        <tbody
                            is="chronicle-group-statistics"
                            v-for="group in groups"
                            :group="group"
                        >
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="data-section">
                <header>
                    <h2>
                        {{ $t('chronicles.dataPage.listTitle') }}
                    </h2>

                    <div class="section-header-separator"></div>

                    <a :href="downloadDataUrl" :download="chronicle.title + '-data.csv'">
                        {{ $t('chronicles.dataPage.download') }}
                    </a>
                </header>

                <table>
                    <thead>
                        <tr>
                            <th>
                                {{ $t('chronicles.dataPage.list.groupLabel') }}
                            </th>
                            <th>
                                {{ $t('chronicles.dataPage.list.observableLabel') }}
                            </th>
                            <th>
                                {{ $t('chronicles.dataPage.list.timeLabel') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                {{ $t('chronicles.dataPage.list.startLabel') }}
                            </td>
                            <td>
                                {{ startAtLabel }}
                            </td>
                        </tr>

                        <tr v-for="d in data" :key="d.key">
                            <td>
                                {{ d.groupName }}
                            </td>

                            <td>
                                {{ d.observableName }}
                                <span v-if="d.intermittent" class="data-intermittent">
                                    <i class="fa fa-fw fa-flash"></i>
                                </span>
                            </td>

                            <td class="data-time">
                                <span class="time-diff">
                                    + {{ d.seconds }}s
                                </span>
                                <chronicle-editable-time
                                    :time="d.time"
                                    :min-time="startAt"
                                    :max-time="endAt"
                                    @change="(newTime) => editDataTime(d, newTime)"
                                ></chronicle-editable-time>
                            </td>
                        </tr>

                        <tr v-if="observation.endAt">
                            <td colspan="2">
                                {{ $t('chronicles.dataPage.list.endLabel') }}
                            </td>
                            <td>
                                {{ endAtLabel }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <div v-else-if="groups.length > 0">
            <p>
                {{ $t('chronicles.dataPage.noObservation') }}
            </p>

            <p>
                <router-link :to="`/chronicles/${chronicle.id}/observation`">
                    {{ $t('chronicles.dataPage.doObservation') }}
                </router-link>
            </p>
        </div>

        <div v-else>
            <p>
                {{ $t('chronicles.dataPage.noObservables') }}
            </p>

            <p>
                <router-link :to="`/chronicles/${chronicle.id}/protocol`">
                    {{ $t('chronicles.dataPage.backToProtocol') }}
                </router-link>
            </p>
        </div>
    </the-layout>
</template>

<script>
    import Vue from 'vue';

    import ChronicleNavigation from 'components/layout/ChronicleNavigation.vue';

    import ChronicleChart from 'components/data/ChronicleChart.vue';
    import ChronicleChartSvg from 'components/data/ChronicleChartSvg.vue';
    import ChronicleEditableTime from 'components/data/ChronicleEditableTime.vue';
    import ChronicleGroupStatistics from 'components/data/ChronicleGroupStatistics.vue';

    export default {
        props: {
            chronicle: {
                type: Object,
                required: true,
            },
        },

        components: {
            ChronicleNavigation,
            ChronicleChart,
            ChronicleEditableTime,
            ChronicleGroupStatistics,
        },

        data () {
            return {
                enlargeYourLayout: false,
                showExportModal: false,
                unfoldStats: false,
            };
        },

        computed: {
            groups () {
                return this.$store.getters['groups/listNotEmptyByChronicleId'](this.chronicle.id);
            },

            allGroups () {
                return this.$store.getters['groups/listByChronicleId'](this.chronicle.id);
            },

            observables () {
                return this.groups.reduce((observables, group) => {
                    return observables.concat(
                        this.$store.getters['observables/listByGroupId'](group.id)
                    );
                }, []);
            },

            observation () {
                return this.$store.getters['observations/getByChronicleId'](this.chronicle.id);
            },

            startAt () {
                return this.observation.startAt;
            },

            endAt () {
                return this.observation.endAt ? this.observation.endAt : new Date();
            },

            startAtLabel () {
                return this.startAt.toLocaleString(undefined, {
                    day: '2-digit',
                    month: 'short',
                    year: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                });
            },

            endAtLabel () {
                return this.endAt.toLocaleString(undefined, {
                    day: '2-digit',
                    month: 'short',
                    year: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                });
            },

            data () {
                const datas = this.observation.data.map((data) => {
                    const observable = this.$store.getters['observables/getById'](data.observableId);
                    const group = this.$store.getters['groups/getById'](observable.groupId);
                    const atDate = new Date(this.startAt.getTime() + data.at);
                    return {
                        ...data,
                        observableName: observable.name,
                        groupName: group.name,
                        intermittent: observable.intermittent,
                        seconds: Math.round(data.at / 1000),
                        time: atDate,
                        key: data.observableId + '-' + data.at,
                    };
                })
                datas.sort((data1, data2) => {
                    return data1.at - data2.at;
                });
                return datas;
            },

            downloadChronicleUrl () {
                const chronicleAsString = JSON.stringify({
                    chronicle: this.chronicle,
                    groups: this.allGroups,
                    observables: this.observables,
                    observation: this.observation,
                });
                const file = new Blob([chronicleAsString], { type: 'text/plain;charset=utf-8' });
                return URL.createObjectURL(file);
            },

            downloadSvg () {
                const svgClass = Vue.extend(ChronicleChartSvg);
                const chronicleAsSvg = new svgClass({
                    propsData: {
                        chronicle: this.chronicle,
                    },
                    store: this.$store,
                }).$mount().$el;

                const file = new Blob(
                    [chronicleAsSvg.outerHTML],
                    { type: 'image/svg+xml;charset=utf-8' }
                );
                return URL.createObjectURL(file);
            },

            downloadDataUrl () {
                const dataAsCsv = this.data.map((d) => {
                    return [
                        d.groupName,
                        d.observableName,
                        d.intermittent ? 'x' : '',
                        this.formatDateForCsv(d.time),
                    ].join(';');
                });

                dataAsCsv.unshift([
                    '',
                    this.$t('chronicles.dataPage.list.startLabel'),
                    '',
                    this.formatDateForCsv(this.startAt),
                ].join(';'));

                dataAsCsv.unshift([
                    this.$t('chronicles.dataPage.list.groupLabel'),
                    this.$t('chronicles.dataPage.list.observableLabel'),
                    this.$t('chronicles.dataPage.list.intermittentLabel'),
                    this.$t('chronicles.dataPage.list.timeLabel'),
                ].join(';'));

                if (this.observation.endAt) {
                    dataAsCsv.push([
                        '',
                        this.$t('chronicles.dataPage.list.endLabel'),
                        '',
                        this.formatDateForCsv(this.endAt),
                    ].join(';'));
                }

                const file = new Blob([dataAsCsv.join("\n")], { type: 'text/csv;charset=utf-8' });
                return URL.createObjectURL(file);
            },
        },

        methods: {
            formatDateForCsv(d) {
                const date = d.toLocaleDateString();
                const time = d.toLocaleString(undefined, {
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                });
                return date + ' ' + time;
            },

            editDataTime (data, newTime) {
                const newAt = newTime - this.startAt;
                this.$store.commit('observations/updateDataAt', {
                    id: this.observation.id,
                    data,
                    newAt,
                });
                this.$store.dispatch('save');
            },
        },
    };
</script>

<style>
    .page-chronicle-data .alert.alert-warning {
        display: flex;
        padding: .5rem 1rem;

        align-items: center;
        justify-content: space-between;

        color: var(--color-gold-90);
        font-weight: bold;

        background-color: var(--color-gold-50);
        border-radius: .5rem;
    }

    .page-chronicle-data .alert.alert-warning a.call-to-action {
        color: var(--color-gold-90);

        border-color: var(--color-gold-70);
    }
    .page-chronicle-data .alert.alert-warning a.call-to-action:hover,
    .page-chronicle-data .alert.alert-warning a.call-to-action:focus {
        color: var(--color-white);

        background-color: var(--color-gold-70);
    }

    .page-chronicle-data .data-section {
        margin-top: 2rem;
    }

    .page-chronicle-data .data-section > header {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;

        justify-content: space-between;
        align-items: center;
    }

    .page-chronicle-data .data-section > header .section-header-separator {
        margin-left: 1rem;
        margin-right: 1rem;

        flex-grow: 1;

        border-top: 1px solid var(--color-grey-70);
        border-bottom: 1px solid var(--color-grey-70);
        border-radius: .25rem;
    }

    .page-chronicle-data table {
        width: 100%;
    }

    .page-chronicle-data table th,
    .page-chronicle-data table td {
        padding: .25rem .5rem;
    }

    .page-chronicle-data table th {
        color: var(--color-white-stained);

        background-color: var(--color-purple-90);
    }

    .page-chronicle-data table tr:first-child th:first-child {
        border-top-left-radius: .25rem;
    }

    .page-chronicle-data table tr:first-child th:last-child {
        border-top-right-radius: .25rem;
    }

    .page-chronicle-data table tbody tr:nth-child(even) {
        background-color: var(--color-grey-20);
    }

    .page-chronicle-data .data-time {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }

    .page-chronicle-data .data-time .time-diff {
        color: var(--color-grey-60);
        font-size: .9rem;
        font-family: monospace;
    }

    .page-chronicle-data .data-time .time-label {
        font-family: monospace;
    }

    .page-chronicle-data .data-intermittent {
        float: right;

        padding-left: .5rem;
    }
</style>
