<template>
    <the-layout name="not-found">
        <h1>
            {{ $t('notFoundPage.title') }}
        </h1>

        <p>
            {{ $t('notFoundPage.ohNo') }}
        </p>

        <p>
            🦔🦔🦔🦔🦔
        </p>

        <p>
            <router-link to="/" class="call-to-action">
                {{ $t('notFoundPage.backHome') }}
            </router-link>
        </p>
    </the-layout>
</template>

<style>
    .page-not-found .layout-body {
        display: flex;

        flex-direction: column;
        justify-content: center;
    }

    .page-not-found h1 {
        margin-bottom: 3rem;
    }

    .page-not-found p {
        color: var(--color-grey-60);
        font-size: 1.2rem;
        text-align: center;
    }
</style>
