<template>
    <the-layout name="chronicle" :title="chronicle.title">
        <chronicle-navigation :chronicle="chronicle"></chronicle-navigation>

        <div v-if="groups.length > 0">
            <button
                v-if="!observation"
                type="button"
                class="button-primary"
                @click="startObservation"
            >
                <i class="fa fa-fw fa-play"></i>
                {{ $t('chronicles.observationPage.start') }}
            </button>

            <button
                v-else-if="!observation.endAt"
                type="button"
                @click="endObservation"
            >
                <i class="fa fa-fw fa-stop"></i>
                {{ $t('chronicles.observationPage.stop') }}
                ({{ duration }})
            </button>

            <button
                v-else
                type="button"
                @click="restartObservation"
            >
                <i class="fa fa-fw fa-play"></i>
                {{ $t('chronicles.observationPage.restart') }}
            </button>

            <p class="observation-finished" v-if="observation && observation.endAt">
                <router-link :to="`/chronicles/${chronicle.id}/data`">
                    {{ $t('chronicles.observationPage.goToData') }}
                </router-link>
            </p>

            <chronicle-group
                v-for="group in groups"
                :key="group.id"
                :id="group.id"
                :name="group.name"
                :active-observable-id="activeForGroup(group.id)"
                :disabled="observation && !!observation.endAt"
                @click="addData"
            >
            </chronicle-group>
        </div>

        <div v-else>
            <p>
                {{ $t('chronicles.observationPage.noObservables') }}
            </p>

            <p>
                <router-link :to="`/chronicles/${chronicle.id}/protocol`">
                    {{ $t('chronicles.observationPage.backToProtocol') }}
                </router-link>
            </p>
        </div>
    </the-layout>
</template>

<script>
    import uuid from 'uuid/v4';

    import ChronicleNavigation from 'components/layout/ChronicleNavigation.vue';

    import ChronicleGroup from 'components/observation/ChronicleGroup.vue';

    export default {
        props: {
            chronicle: {
                type: Object,
                required: true,
            },
        },

        components: {
            ChronicleNavigation,
            ChronicleGroup,
        },

        data () {
            return {
                initialActiveByGroupIds: {},
                now: Date.now(),
            };
        },

        computed: {
            groups () {
                return this.$store.getters['groups/listNotEmptyByChronicleId'](this.chronicle.id);
            },

            observation () {
                return this.$store.getters['observations/getByChronicleId'](this.chronicle.id);
            },

            activeForGroup () {
                let byGroupIds = null;
                if (this.observation && !this.observation.endAt) {
                    byGroupIds = this.observation.activeByGroupIds;
                } else {
                    byGroupIds = this.initialActiveByGroupIds;
                }

                return (groupId) => byGroupIds[groupId];
            },

            duration () {
                const pausesDuration = this.observation.pauses.reduce(
                    (duration, pause) => duration + pause.duration,
                    0
                );
                const diff = this.now - pausesDuration - this.observation.startAt.getTime();
                const diffSeconds = Math.round(diff / 1000);
                const minutes = (Math.floor(diffSeconds / 60)).toString();
                const seconds = (diffSeconds % 60).toString();
                return `${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`;
            },
        },

        methods: {
            startObservation () {
                const id = uuid();
                const startAt = new Date();

                const data = Object.values(this.initialActiveByGroupIds).map((observableId) => {
                    return {
                        at: 0,
                        type: 'observable',
                        observableId,
                    };
                });

                const observation = {
                    id,
                    chronicleId: this.chronicle.id,
                    startAt,
                    endAt: null,
                    data,
                    pauses: [],
                    activeByGroupIds: this.initialActiveByGroupIds,
                };

                this.$store.commit('observations/add', observation);
                this.$store.dispatch('save');

                this.initialActiveByGroupIds = {};
            },

            addData (observable) {
                if (!this.observation && !observable.intermittent) {
                    this.$set(
                        this.initialActiveByGroupIds,
                        observable.groupId,
                        observable.id
                    );
                    return;
                }

                if (this.observation.endAt) {
                    return;
                }

                if (!observable.intermittent) {
                    this.$store.commit('observations/setActive', {
                        id: this.observation.id,
                        groupId: observable.groupId,
                        observableId: observable.id,
                    });
                }

                const pausesDuration = this.observation.pauses.reduce(
                    (duration, pause) => duration + pause.duration,
                    0
                );
                const data = {
                    at: (new Date()) - pausesDuration - this.observation.startAt,
                    type: 'observable',
                    observableId: observable.id,
                };

                this.$store.commit('observations/addData', {
                    id: this.observation.id,
                    data,
                });
                this.$store.dispatch('save');
            },

            endObservation () {
                const endAt = new Date();
                const payload = {
                    id: this.observation.id,
                    endAt,
                };

                this.$store.commit('observations/update', payload);
                this.$store.dispatch('save');
            },

            restartObservation () {
                this.$store.commit('observations/addPause', {
                    id: this.observation.id,
                    pause: {
                        at: this.observation.endAt - this.observation.startAt,
                        duration: (new Date()) - this.observation.endAt,
                    },
                });
                this.$store.commit('observations/update', {
                    id: this.observation.id,
                    endAt: null,
                });
                this.$store.dispatch('save');
            },
        },

        created () {
            this.nowInterval = setInterval(() => this.now = Date.now(), 1000);
        },

        destroyed () {
            clearInterval(this.nowInterval);
        },
    };
</script>

<style scoped>
    .observation-finished {
        margin-top: 1rem;
        margin-bottom: 1rem;

        text-align: center;
    }
</style>
