<template>
    <the-layout name="chronicle" :title="chronicle.title">
        <chronicle-navigation :chronicle="chronicle"></chronicle-navigation>

        <chronicle-group-editable
            v-for="group in groups"
            :id="group.id"
            :name="group.name"
        >
        </chronicle-group-editable>

        <form
            v-if="showNewGroup"
            @submit.prevent="createNewGroup"
        >
            <input
                :aria-label="$t('chronicles.protocolPage.groupNameLabel')"
                type="text"
                v-model="newGroupName"
                v-autofocus
                @blur="createNewGroup"
                @keydown.esc="showNewGroup = false"
            />
        </form>
        <button
            v-else
            type="button"
            :class="{ 'button-primary': groups.length === 0 }"
            @click="showNewGroup = true"
        >
            <i class="fa fa-fw fa-plus"></i>
            {{ $t('chronicles.protocolPage.newGroup') }}
        </button>
    </the-layout>
</template>

<script>
    import uuid from 'uuid/v4';

    import ChronicleNavigation from 'components/layout/ChronicleNavigation.vue';

    import ChronicleGroupEditable from 'components/protocol/ChronicleGroupEditable.vue';

    export default {
        props: {
            chronicle: {
                type: Object,
                required: true,
            },
        },

        components: {
            ChronicleNavigation,
            ChronicleGroupEditable,
        },

        data () {
            return {
                showNewGroup: false,
                newGroupName: '',
            };
        },

        computed: {
            groups () {
                return this.$store.getters['groups/listByChronicleId'](this.chronicle.id);
            },
        },

        methods: {
            createNewGroup () {
                const name = this.newGroupName.trim();
                if (name) {
                    const id = uuid();
                    const chronicleId = this.chronicle.id;
                    const group = {
                        id,
                        chronicleId,
                        name,
                    };

                    this.$store.commit('groups/add', group);
                    this.$store.dispatch('save');

                    this.newGroupName = '';
                }
                this.showNewGroup = false;
            },
        },
    };
</script>
