<template>
    <nav class="chronicle-navigation">
        <ul>
            <li>
                <router-link :to="`/chronicles/${chronicle.id}/protocol`">
                    {{ $t('chronicles.navigation.protocol') }}
                </router-link>
            </li>
            <li>
                <router-link :to="`/chronicles/${chronicle.id}/observation`">
                    {{ $t('chronicles.navigation.observation') }}
                </router-link>
            </li>
            <li>
                <router-link :to="`/chronicles/${chronicle.id}/data`">
                    {{ $t('chronicles.navigation.data') }}
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: {
            chronicle: {
                type: Object,
                required: true,
            },
        },
    };
</script>

<style>
    .chronicle-navigation {
        margin: -2rem -2rem 2rem;
    }

    .chronicle-navigation ul {
        display: flex;
        padding-left: 0;

        justify-content: space-between;

        list-style: none;
    }

    .chronicle-navigation ul li {
        flex: 1;
    }

    .chronicle-navigation ul li a {
        display: block;
        padding: .5rem;

        text-align: center;
        text-decoration: none;

        border-bottom: 4px solid var(--color-purple-90);

        transition: border .2s ease-in-out;
    }

    .chronicle-navigation ul li + li a {
        border-left: none;
    }

    .chronicle-navigation ul li:first-child a {
        border-radius: .25rem 0 0 0;
    }

    .chronicle-navigation ul li:last-child a {
        border-radius: 0 .25rem 0 0;
    }

    .layout.layout-full-width .chronicle-navigation ul li:first-child a,
    .layout.layout-full-width .chronicle-navigation ul li:last-child a {
        border-radius: 0;
    }

    .chronicle-navigation ul li a:hover {
        border-bottom-color: var(--color-purple-50);
    }

    .chronicle-navigation ul li a.router-link-active {
        color: var(--color-white-stained);
        font-weight: bold;

        background-color: var(--color-purple-90);
    }
</style>
