<template>
    <div :class="['layout', 'page-' + name, { 'layout-full-width': fullWidth }]">
        <header class="layout-header">
            <router-link to="/" class="layout-header-home">Aku</router-link>

            <div v-if="title" class="layout-header-navigation">
                <div class="layout-header-navigation-title">
                    {{ title }}
                </div>

                <router-link
                    to="/chronicles"
                    :title="$t('layout.header.goToChronicles')"
                    class="layout-header-navigation-chronicles"
                >
                    <i class="fa fa-fw fa-th-large"></i>
                </router-link>
            </div>
        </header>

        <main class="layout-body">
            <slot></slot>
        </main>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },

            title: {
                type: String,
            },

            fullWidth: {
                type: Boolean,
            },
        },
    };
</script>

<style>
    .layout-header {
        display: flex;
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
        padding: .5rem 1rem;

        justify-content: space-between;
        align-items: flex-start;
    }

    .layout-header .layout-header-home {
        padding: .5rem;

        color: var(--color-purple-90);
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
    }

    .layout-body {
        max-width: 45rem;
        min-height: calc(100vh - 10rem);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
        padding: 2rem .5rem;

        background-color: var(--color-white);
        border-top: 1px solid var(--color-grey-30);
        border-bottom: 1px solid var(--color-grey-30);
        box-shadow: 0 0 3px var(--color-grey-30);
    }

    .layout.layout-full-width .layout-body {
        max-width: none;
    }

    .layout-body h1 {
        text-align: center;
    }

    @media(min-width: 45rem) {
        .layout-body {
            padding-left: 2rem;
            padding-right: 2rem;

            border-left: 1px solid var(--color-grey-30);
            border-right: 1px solid var(--color-grey-30);
            border-radius: .25rem;
        }

        .layout.layout-full-width .layout-body {
            border-left: none;
            border-right: none;
            border-radius: 0;
        }
    }

    .layout-header-navigation {
        display: flex;
        margin-top: -.1rem;
    }

    .layout-header-navigation .layout-header-navigation-title {
        padding: .5rem 1rem;
        font-weight: bold;
    }

    .layout-header-navigation .layout-header-navigation-chronicles {
        margin-top: .1rem;
        padding: .5rem;

        border-radius: .25rem;

        transition: all .2s ease-in-out;
    }

    .layout-header-navigation .layout-header-navigation-chronicles:hover {
        color: var(--color-white-stained);

        background-color: var(--color-purple-90);
    }
</style>
