<template>
    <transition name="modal">
        <div class="modal-mask">
            <section class="modal-container">
                <header class="modal-header">
                    <button
                        @click="$emit('close')"
                        type="button"
                        class="button-ghost"
                    >
                        <i class="fa fa-fw fa-times"></i>
                    </button>

                    {{ title }}
                </header>

                <div class="modal-body">
                    <slot></slot>
                </div>
            </section>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                required: true,
            },
        },

        methods: {
            onKeypress (e) {
                if (e.key === 'Escape') {
                    this.$emit('close');
                }
            },
        },

        beforeCreate () {
            document.body.classList.add('modal-opened');
        },

        created () {
            window.addEventListener('keydown', this.onKeypress);
        },

        destroyed () {
            document.body.classList.remove('modal-opened');
            window.removeEventListener('keydown', this.onKeypress);
        },
    };
</script>

<style>
    .modal-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;

        overflow-x: hidden;
        overflow-y: auto;

        background-color: rgba(0, 0, 0, .5);

        transition: opacity .2s ease-in-out;
    }

    .modal-container {
        max-width: 35rem;
        margin: 5rem auto;

        background-color: var(--color-grey-10);
        border-radius: .25rem;
        box-shadow: 0 0 1px var(--color-grey-50),
                    1px 2px 3px var(--color-grey-60);

        transition: all .2s ease-in-out;
    }

    .modal-header {
        padding: .5rem 1rem 0;

        font-size: 1.1rem;
        font-weight: bold;
    }

    .modal-header button {
        float: right;
    }

    .modal-body {
        padding: 1rem;
    }

    .modal-enter {
        opacity: 0;
    }
    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        transform: scale(1.1);
    }

    @media(max-width: 800px) {
        .modal-container {
            max-width: none;
            margin-top: 3rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
</style>
