button {
    display: inline-block;
    max-width: 100%;
    margin-right: .25rem;
    padding: .25rem 1.5rem;

    vertical-align: middle;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--color-grey-90);
    font-size: 1rem;
    line-height: 1.5rem;

    background-color: var(--color-grey-20);
    border: none;
    border-radius: .25rem;
    box-shadow: 0 0 1px var(--color-grey-90);

    transition: all .2s ease-in-out;
}
button.disabled {
    color: var(--color-grey-60);
    box-shadow: 0 0 1px var(--color-grey-60);
}
button:hover:not(.disabled) { background-color: var(--color-grey-30); }
button.active:not(.disabled),
button:focus:not(.disabled) { background-color: var(--color-grey-40); }

button.button-small {
    padding: 0 .5rem;

    font-size: .8rem;
}
button.button-large {
    padding: .5rem 1.75rem;

    font-size: 1.2rem;
}

button.button-primary {
    color: var(--color-white-stained);
    font-weight: bold;

    background-color: var(--color-purple-90);
    box-shadow: 0 0 1px var(--color-purple-70);
}
button.button-primary.disabled {
    color: var(--color-grey-20);
    box-shadow: none;
}
button.button-primary:hover:not(.disabled) {
    background-color: var(--color-purple-80);
}
button.button-primary.active:not(.disabled),
button.button-primary:focus:not(.disabled) {
    background-color: var(--color-purple-90);
    box-shadow: 0 0 5px var(--color-purple-90);
}

button.button-ghost {
    padding-left: .5rem;
    padding-right: .5rem;

    background-color: rgba(12, 12, 13, .1);
    box-shadow: none;
}
button.button-ghost.disabled {
    color: var(--color-grey-60);
}
button.button-ghost:hover:not(.disabled) { background-color: rgba(12, 12, 13, .2); }
button.button-ghost.active:not(.disabled),
button.button-ghost:focus:not(.disabled) { background-color: rgba(12, 12, 13, .3); }
