label,
.label {
    display: block;
    margin-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

input {
    width: 100%;
    height: 2.5rem;
    padding: .5rem;

    color: var(--color-grey-90);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: inherit;

    background-color: var(--color-white);
    border: 1px solid var(--color-grey-40);
    box-shadow: 1px 1px 2px var(--color-grey-20) inset;
    border-radius: .25rem;

    transition: border .2s ease-in-out;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-top: -1px;

    vertical-align: middle;

    box-shadow: none;
}

input:hover:not(:disabled),
input:hover:not([readonly]) {
    box-shadow: 0 0 2px var(--color-grey-30),
    1px 1px 2px var(--color-grey-20) inset;
}
input:focus {
    border: 1px solid var(--color-purple-50);
    box-shadow: 0 0 1px var(--color-purple-50),
    1px 1px 2px var(--color-grey-20) inset;
}
input.invalid {
    border: 1px solid var(--color-red-50);
}
input.invalid:focus {
    box-shadow: 0 0 1px var(--color-red-50),
    1px 1px 2px var(--color-grey-20) inset;
}

input::placeholder {
    color: var(--color-grey-60);
}

.form-group {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.form-group-actions {
    display: flex;
    margin-top: 1rem;

    align-items: center;
    justify-content: space-between;
}

.form-group-caption {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;

    color: var(--color-grey-60);
    font-size: .8rem;
    line-height: 1.2rem;
}

.form-group-error {
    margin-top: .25rem;
    margin-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;

    color: var(--color-red-50);
}

.form-group-stack {
    display: flex;

    align-items: center;
}

.form-group-stack > button {
    flex-shrink: 0;
}

.form-group-stack > label {
    margin-bottom: 0;
}

.form-group-stack * + * {
    margin-left: .25rem;
}

.form-error {
    padding-left: .5rem;
    padding-right: .5rem;

    color: var(--color-red-50);
}
