@import './_colors.css';
@import './_typography.css';
@import './_buttons.css';
@import './_forms.css';

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f8;
}

body.modal-opened {
    overflow: hidden;
}

a {
    color: var(--color-purple-80);
}

a:hover,
a:focus {
    color: var(--color-purple-90);
    text-decoration: none;
}

a.call-to-action {
    display: inline-block;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .5rem;

    text-decoration: none;

    border: 2px solid var(--color-purple-90);
    border-radius: .5rem;

    transition: all .2s ease-in-out;
}

a.call-to-action:hover,
a.call-to-action:focus {
    color: var(--color-white-stained);

    background-color: var(--color-purple-90);
}

.fa-success::before {
    color: var(--color-green-50);
}
.fa-error::before {
    color: var(--color-red-50);
}
