<template>
    <section class="chronicle-group">
        <header class="chronicle-group-name">
            {{ name }}
        </header>

        <div class="chronicle-group-body">
            <chronicle-observable
                v-for="observable in observables"
                :key="observable.id"
                :id="observable.id"
                :name="observable.name"
                :intermittent="observable.intermittent"
                :active="observable.id === activeObservableId || observable.id === activeIntermittentId"
                @click="() => clickObservable(observable)"
            >
            </chronicle-observable>
        </div>

        <div v-if="disabled" class="chronicle-group-mask">
        </div>
    </section>
</template>

<script>
    import ChronicleObservable from './ChronicleObservable.vue';

    export default {
        props: {
            id: {
                type: String,
                required: true,
            },

            name: {
                type: String,
                required: true,
            },

            activeObservableId: {
                type: String,
            },

            disabled: {
                type: Boolean,
            }
        },

        components: {
            ChronicleObservable,
        },

        data () {
            return {
                activeIntermittentId: null,
            };
        },

        computed: {
            observables () {
                return this.$store.getters['observables/listByGroupId'](this.id);
            },
        },

        methods: {
            clickObservable (observable) {
                if (observable.intermittent) {
                    this.activeIntermittentId = observable.id;
                    setTimeout(() => this.activeIntermittentId = null, 350);
                }

                this.$emit('click', observable);
            },
        },
    };
</script>

<style scoped>
    .chronicle-group {
        position: relative;

        margin-top: 3rem;
        margin-bottom: 3rem;

        background-color: var(--color-grey-10);
        box-shadow: 0 0 2px var(--color-grey-60);
        border-radius: .5rem;
    }

    .chronicle-group .chronicle-group-name {
        position: absolute;
        top: -1rem;
        left: 1rem;

        display: inline-block;
        height: 2rem;
        min-width: 15rem;
        padding: .25rem .5rem;

        background-color: var(--color-grey-10);
        border-radius: .5rem;
        box-shadow: -1px 0 1px var(--color-grey-40),
                    1px -1px 1px var(--color-grey-30);
    }

    .chronicle-group .chronicle-group-body {
        display: flex;
        padding: 1.5rem .5rem .5rem;

        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .chronicle-group .chronicle-group-body > * {
        margin: .5rem;

        flex-basis: 30%;
    }

    .chronicle-group .chronicle-group-mask {
        position: absolute;
        top: -1.5rem;
        bottom: -.5rem;
        left: -.5rem;
        right: -.5rem;

        background-color: rgba(0, 0, 0, .1);
        border-radius: .5rem;
    }
</style>
