<template>
    <div class="chronicle-observable">
        <button
            :class="active ? 'button-primary' : 'button-ghost'"
            @click="$emit('click')"
        >
            {{ name }}
            <i v-if="intermittent" class="fa fa-fw fa-flash"></i>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true,
            },

            name: {
                type: String,
                required: true,
            },

            intermittent: {
                type: Boolean,
                required: true,
            },

            active: {
                type: Boolean,
                required: true,
            },
        },
    };
</script>

<style>
    .chronicle-observable {
        position: relative;
    }

    .chronicle-observable > button {
        width: 100%;
        padding-left: .75rem;
        padding-right: .75rem;
        text-align: left;
    }

    .chronicle-observable .fa {
        position: absolute;
        top: .5rem;
        right: .25rem;
    }
</style>
