<template>
    <div class="chronicle-observable">
        <button v-if="!editable" @click="editable = true" class="button-ghost">
            {{ name }}
            <i v-if="saved" class="fa fa-fw fa-success fa-check"></i>
            <i v-else-if="intermittent" class="fa fa-fw fa-flash"></i>
        </button>

        <form v-else @submit.prevent="update">
            <input
                :aria-label="$t('chronicles.observable.nameLabel')"
                type="text"
                v-model="newName"
                v-autofocus
                @keydown.esc="editable = false"
            />

            <div class="form-group-stack">
                <label>
                    <input
                        type="checkbox"
                        v-model="newIntermittent"
                        @keydown.esc="editable = false"
                    />

                    {{ $t('chronicles.observable.intermittentLabel') }}
                </label>

                <button
                    type="button"
                    class="button-small"
                    @click="update"
                >
                    {{ $t('chronicles.observable.submit') }}
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true,
            },

            name: {
                type: String,
                required: true,
            },

            intermittent: {
                type: Boolean,
                required: true,
            },
        },

        data () {
            return {
                editable: false,
                newName: this.name,
                newIntermittent: this.intermittent,
                saved: false,
            };
        },

        methods: {
            update () {
                const newName = this.newName.trim();
                const newIntermittent = this.newIntermittent;

                this.editable = false;

                if (!newName) {
                    this.$store.commit('observables/remove', this.id);
                    this.$store.dispatch('save');
                    return;
                }

                if (newName !== this.name || newIntermittent !== this.intermittent) {
                    this.$store.commit('observables/update', {
                        id: this.id,
                        name: newName,
                        intermittent: newIntermittent,
                    });
                    this.$store.dispatch('save');

                    this.saved = true;
                    setTimeout(() => this.saved = false, 2000);
                }
            },
        },
    };
</script>

<style>
    .chronicle-observable {
        position: relative;
    }

    .chronicle-observable > button {
        width: 100%;
        padding-left: .75rem;
        padding-right: .75rem;
        text-align: left;
    }

    .chronicle-observable .form-group-stack > label {
        padding-left: .25rem;
        padding-right: .25rem;

        flex-grow: 1
    }

    .chronicle-observable input {
        height: 2rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .chronicle-observable .fa {
        position: absolute;
        top: .5rem;
        right: .25rem;
    }
</style>
