<template>
    <section class="chronicle-group">
        <header class="chronicle-group-name">
            <form @submit.prevent="updateName">
                <div class="form-group-stack">
                    <input
                        :aria-label="$t('chronicles.group.nameLabel')"
                        type="text"
                        v-model="newName"
                        @blur="updateName"
                        @keydown.esc="newName = name"
                        :class="{ invalid: nameError }"
                    />
                    <i v-if="nameSaved" class="fa fa-fw fa-success fa-check"></i>
                    <i v-if="nameError" class="fa fa-fw fa-error fa-times"></i>
                </div>
            </form>
        </header>

        <div class="chronicle-group-body">
            <chronicle-observable-editable
                v-for="observable in observables"
                :key="observable.id"
                :id="observable.id"
                :name="observable.name"
                :intermittent="observable.intermittent"
            >
            </chronicle-observable-editable>

            <div class="chronicle-observable-new">
                <form
                    v-if="showNewObservable"
                    @submit.prevent="createObservable"
                >
                    <input
                        :aria-label="$t('chronicles.group.observableNameLabel')"
                        type="text"
                        v-model="newObservableName"
                        v-autofocus
                        @keydown.esc="showNewObservable = false"
                        ref="newObservableNameInput"
                    />

                    <div class="form-group-stack">
                        <label>
                            <input
                                type="checkbox"
                                v-model="newObservableIntermittent"
                                @keydown.esc="showNewObservable = false"
                            />

                            {{ $t('chronicles.group.observableIntermittentLabel') }}
                        </label>

                        <button
                            type="button"
                            class="button-small"
                            @click="createObservableByOk"
                        >
                            {{ $t('chronicles.group.submit') }}
                        </button>
                    </div>
                </form>

                <button
                    v-else
                    type="button"
                    :class="{ 'button-primary': observables.length === 0 }"
                    @click="showNewObservable = true"
                >
                    <i class="fa fa-fw fa-plus"></i>
                    {{ $t('chronicles.group.newObservable') }}
                </button>
            </div>
        </div>
    </section>
</template>

<script>
    import uuid from 'uuid/v4';

    import ChronicleObservableEditable from './ChronicleObservableEditable.vue';

    export default {
        props: {
            id: {
                type: String,
                required: true,
            },

            name: {
                type: String,
                required: true,
            },
        },

        components: {
            ChronicleObservableEditable,
        },

        data () {
            return {
                newName: this.name,
                nameSaved: false,
                nameError: false,

                showNewObservable: false,
                newObservableName: '',
                newObservableIntermittent: false,
            };
        },

        computed: {
            observables () {
                return this.$store.getters['observables/listByGroupId'](this.id);
            },
        },

        methods: {
            updateName () {
                const newName = this.newName.trim();

                if (!newName) {
                    this.nameError = true;
                    return;
                }

                this.nameError = false;
                if (newName !== this.name) {
                    this.$store.commit('groups/setName', {
                        id: this.id,
                        name: newName,
                    });
                    this.$store.dispatch('save');

                    this.nameSaved = true;
                    setTimeout(() => this.nameSaved = false, 5000);
                }
            },

            createObservable () {
                const name = this.newObservableName.trim();
                const intermittent = this.newObservableIntermittent;
                if (name) {
                    const id = uuid();
                    const groupId = this.id;
                    const observable = {
                        id,
                        groupId,
                        name,
                        intermittent,
                    };

                    this.$store.commit('observables/add', observable);
                    this.$store.dispatch('save');

                    this.newObservableName = '';
                }
                this.$refs.newObservableNameInput.focus();
            },

            createObservableByOk () {
                this.createObservable();
                this.showNewObservable = false;
            },
        },
    };
</script>

<style scoped>
    .chronicle-group {
        position: relative;

        margin-top: 3rem;
        margin-bottom: 3rem;

        background-color: var(--color-grey-10);
        box-shadow: 0 0 2px var(--color-grey-60);
        border-radius: .5rem;
    }

    .chronicle-group .chronicle-group-name {
        position: absolute;
        top: -1rem;
        left: 1rem;

        display: inline-block;

        background-color: var(--color-grey-10);
        border-radius: .5rem;
    }

    .chronicle-group .chronicle-group-name input {
        height: 2rem;
        padding-top: .25rem;
        padding-bottom: .25rem;

        border-radius: .5rem;
    }

    .chronicle-group .chronicle-group-name input:not(:hover):not(:focus):not(.invalid) {
        background-color: transparent;
        border-color: transparent;
        box-shadow: -1px 0 1px var(--color-grey-40),
                    1px -1px 1px var(--color-grey-30);
    }

    .chronicle-group .chronicle-group-name input + .fa {
        position: absolute;
        top: .5rem;
        right: .25rem;
    }

    .chronicle-group .chronicle-group-body {
        display: flex;
        padding: 1.5rem .5rem .5rem;

        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .chronicle-group .chronicle-group-body > * {
        margin: .5rem;

        flex-basis: 30%;
    }

    .chronicle-observable-new > button {
        width: 100%;
    }

    .chronicle-observable-new .form-group-stack > label {
        padding-left: .25rem;
        padding-right: .25rem;

        flex-grow: 1
    }

    .chronicle-observable-new input {
        height: 2rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
</style>
